* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.navbar {
  margin: auto;
  padding: 1rem;
  background: black;
  color: white;
  text-align: center;
  font-size: 32px;
}

.container,
.chosenLaptop {
  display: flex;
}

.bank,
.work,
.laptops {
  flex: 1;
  margin: 20px;
  padding: 10px;
  background: #fffbfb;
  border: 3px solid #e6e6e6;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
}

#getLoanButton,
#depositButton,
#earnButton,
#laptopDropdown,
#buyButton,
#payLoanButton {
  margin-top: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
}
#getLoanButton {
  background-color: rgb(97, 232, 178);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
}
#depositButton {
  background-color: yellow;
}
#earnButton {
  background-color: rgb(83, 83, 184);
  color: white;
}
#payLoanButton {
  background-color: red;
}
select#dropDownLaptopNames {
  font-size: 16px;
  margin: 15px;
  padding: 10px;
  width: 80%;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}
#buyButton {
  background-color: aqua;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  margin: 15px;
}

#balance,
#earnedMoney {
  margin: 3rem 1rem 1rem 1rem;
}

#laptopFeature {
  margin-top: 2px;
}

.chosenLaptop {
  flex: 1;
  margin: 20px;
  padding: 10px;
  background: #fffbfb;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
}
#baseOption {
  text-align: center;
}

.image,
.displayedLaptop,
.buyLaptop {
  flex: 1;
  margin: 20px;
  padding: 10px;
  background: #fffbfb;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
}

#laptopInfo {
  margin: 2rem 3rem 1rem 1rem;
}
#chosenLaptopTitle,
#chosenLaptopDescription {
  padding-top: 20px;
  text-align: center;
}
